@using IconTrendsPresentation.Models
@model List<Announcement>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row">

        <div class="col-sm-12 col-md-8 ">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Güncel Duyurular</h6>
                </div>
                @foreach (var item in Model)
                {
                    <div class="d-flex align-items-center border-bottom py-3">
                        <a href="#" class="btn btn-primary rounded-circle  btn-sm" style="margin-right:3px;">Sil</a>
                        <a href="#" class="btn btn-outline-warning  btn-sm" style="margin-left:3px;margin-left:5px;">Güncelle</a>
                        <img class="rounded-circle flex-shrink-0 " src="~/admin/img/icons.ico" alt="" style="width: 40px; height: 40px;">
                        <div class="w-100 ms-3">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-0">@item.AnnounceTitle</h6>
                                <small>@item.AnnounceDate</small>
                            </div>
                            <span>@item.AnnounceContent</span>
                        </div>
                    </div>
                }

                <a href="/Announcement/Add" class="btn btn-outline-info mt-4">Yeni Duyuru Oluştur</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Geçmiş Duyurular</h6>

                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0 bg-warning" src="~/admin/img/icons.ico" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Duyuru Başlığı</h6>
                            <small>Yayımlanma Tarihi </small>
                        </div>
                        <span>Duyuru İçeriği Gelecek Duyuru İçeriği Gelecek.....</span>
                    </div>
                </div>
               
            </div>
        </div>
    </div>


</div>

